  #texto-superpuesto {
    position: absolute;
    top: 300px;
    left: 140px;
    color: white;
    font-size: 24px;
    z-index: 1; 
    background-color: transparent;
  }

  #fullscreen-button {
    position: absolute;
    color: white;
    background-color: transparent;
    border: none;
    padding: 5px;
    top: 30px;
    left: 1200px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
  }

  #empezar {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    border-radius: 20px;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
  }

  
  * {
    margin: 0; 
    padding: 0;
    background-color:black;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
  }

  video {
    width: 1274px;
    height: 720;
    border: 3px solid white;
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 10px;
  }

  #html {
    position: absolute;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px;
    top: 30px;
    left: 240px;
    cursor: pointer;
    z-index: 1;
    text-decoration: none;
  }

  #css {
    position: absolute;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px;
    top: 30px;
    left: 440px;
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
  }

  #imagenes {
    position: absolute;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px;
    top: 30px;
    left: 640px;
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
  }

  #etiquetas {
    position: absolute;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px;
    top: 30px;
    left: 900px;
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
  }

  @media only screen and (max-width: 600px) {
    video {
      width: 445px;
      height: 860px;
    }

    #texto-superpuesto {
      font-size: 14px;
      left: 40px;
      top: 400px;
    }

    #fullscreen-button {
      top: 315px;
      left: 370px;
    }
  }